.gba-borehole-popup {
    cursor: pointer;
    color: green;
}

/* .gba-borehole-popup .maximize.hidden {
    display: none;
}*/

.gba-borehole-popup .maximize {
    color: rgb(220, 220, 220);
    background: gray;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    text-align: center;
    float: left;
    cursor: pointer;
} 

/*side-menu zumachen*/
.gba-borehole-menu .gba-close-link {   
    width: 20px;
    height: 20px;
    text-align: center;
    float: right;
    cursor: pointer;
}

.toolbox {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
}
.gba-borehole-menu .toolbox li {
    color: #464646;
    line-height: 46px;
    cursor: pointer;
    float: right;
    padding: 0 5px;
}
.gba-borehole-menu .body {
    clear: both;
    height: calc(100% - 46px);
    border: 1px solid #777;
    /* padding: 5px; */
}
.gba-borehole-menu .body .header {
    text-align: center;
    border-bottom: 1px solid #000000;
}

.gba-borehole-menu { 
    overflow-y: auto;
    z-index: 1000;
    background-color: #fff;
    opacity: 0.93;   
}

.gba-borehole-menu::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: #f2f2f2;
}

.gba-borehole-menu::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #777;
}

/* .chartCanvas {
    border-top: 1px solid #000000;
} */

.chartContainer {
    border-top: 1px solid #000000;
}

.chartTable {
    margin-left: 20px;
    border-width: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.chartTable div {
    font: 10px sans-serif;    
    text-align: left;
    color: #464646;
}

.chartTable td {
    vertical-align: central;
    text-align: center;
    padding: 0;  
}

.layerNameColumn {  
    white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
    max-width: 85%;
}

.chartTable td img {
    display: block;
}
